.scroll {
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;
}

.scroll.active {
  display: flex;
}

.scroll__container {
  position: relative;
  width: 80%;
  z-index: 1;
}

.scroll__container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.scroll__stickyContainer {
  position: sticky;
  bottom: 0;
  width: 80%;
  z-index: 2;
  display: none;
  overflow: hidden;
}

.scroll__stickyContainer.active {
  display: block;
}

.scroll__stickyContainer img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.scroll__stickyContainer .circle {
  position: absolute;
  top: 0;
}

@media (max-width: 768px) {
  .scroll__container {
    width: 100%;
  }
  .scroll__stickyContainer {
    width: 100%;
  }
}