.questionTwo {
  padding: 10px;
  text-align: left;

  &__titleList {
    &-item {
      line-height: 40px;
      &:first-child {
        list-style-type: none;
      }
    }
  }

  &__subList {
    &-item {
      line-height: 40px;
    }
  }
}
